<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler.io/icons/icon/lifebuoy -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
        <path d="M15 15l3.35 3.35"></path>
        <path d="M9 15l-3.35 3.35"></path>
        <path d="M5.65 5.65l3.35 3.35"></path>
        <path d="M18.35 5.65l-3.35 3.35"></path>
      </svg></span>
    <span class="nav-link-title"> {{ "Kotia" | apply_filters('last_menu_item') }} </span>
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="https://tabler.io/docs" target="_blank" rel="noopener"> Documentation </a>
    <a class="dropdown-item" href="./changelog.html"> Changelog </a>
    <a class="dropdown-item" href="https://github.com/tabler/tabler" target="_blank" rel="noopener"> Source code
    </a>
    <a class="dropdown-item text-pink" href="https://github.com/sponsors/codecalm" target="_blank" rel="noopener">
      <!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-inline me-1 icon-2">
        <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
      </svg>
      Sponsor project!
    </a>
  </div>
</li>