{% extends "base.html" %}

{% block main %}
<h1>{{ tables_info[table_name].__name__ }}</h1>
<p>Это metadata. <a href="/crud/{{ table_name }}">Перейти к CRUD</a></p>
{% if columns %}
<table class="table">
  <thead>
    <th>Имя</th>
    <th>Тип</th>
    <th>Макс.</th>
    <th>Перв. Ключ</th>
    <th>Уник.</th>
  </thead>
  <tbody>
    {% for c in columns %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.type.__class__.__name__ }}</td>
      <td>{{ c.type.length|default("-", true) if hasattr(c.type, "length") else "-" }}</td>
      <td>{{ c.primary_key }}</td>
      <td>{{ c.unique|default("-", true) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Не выбрана таблица</p>
{% endif %}
{% endblock %}